$circe-pink: pink;
$circe-orange: #e9530d;
$circe-dark-blue: #032953;
$circe-light-blue: #E2EBF2;

$white-standard: #ffffff;
$black-standard: #000000;

$circe-grey-50: grey;

$circe-orange-50: #fa9c71;
$circe-dark-blue-50: #5d7a9a;
$circe-light-blue-50: #f6f9fb;